{% extends 'base.html' %}
{% block head %}
    <style>

    </style>
{% endblock %}
{% block body %}
        <form method="post" enctype="multipart/form-data" class="front" >
            {% csrf_token %}
            <table class="table">
                <tr class="fieldwrapper">
                    <td>{{ form.display_picture.label_tag }}</td>
                    <td>{{ form.display_picture }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.status.label_tag }}</td>
                    <td>{{ form.status }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.city.label_tag }}</td>
                    <td>{{ form.city }}</td>
                </tr>
                <tr class="fieldwrapper">
                    <td>{{ form.phone.label_tag }}</td>
                    <td>{{ form.phone }}</td>
                </tr>
            </table>

            <button type="submit" class="btn btn-primary">Update</button>

        </form>

{% endblock %}
