{% extends 'base.html' %}

{% block body %}
    <script>
        $(document).ready(function(){
            var isFollowing = "{{ isFollowing }}";

            var buttonDiv = $('#followButton');
            var followingButton = $('<button class="btn btn-link" onClick="follow()">Following</button>');
            var followButton = $('<button class="btn btn-primary" onClick="follow()">Follow</button>');
            if(isFollowing === "1"){
                buttonDiv.append(followingButton)
            }else{
                buttonDiv.append(followButton)
            }

        });
        function follow(){
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function(){
                        if(this.readyState === 4 && this.status === 200 ){
                            var isFollowing = "{{ isFollowing }}";
                            var buttonDiv = $('#followButton');
                            var followingButton = $('<button class="btn btn-link" onClick="follow()">Following</button>');
                            var followButton = $('<button class="btn btn-primary" onClick="follow()">Follow</button>');
                            buttonDiv.empty();
                            if(this.responseText === "1"){
                                buttonDiv.append(followingButton)

                            }else{
                                buttonDiv.append(followButton)
                            }
                        }
                    };
                    xhttp.open("GET", "{{ user.id }}/follow", true);
                    xhttp.send();
                }
    </script>
    <p> username : {{ user.username }}</p>
        <p>{{ user.first_name }}</p>
        <p>email : {{ user.email    }}</p>
        <p>followers : {{ followers }}</p>
        <p>following : {{ following }}</p>
        <p>Posts : {{ posts.count }}</p>
        <div id="followButton">

        </div>
        <div class="container-fluid">
            {% for post in posts %}
                <div style="display: inline-block;padding: 10px;">
                    <img src="{{ post.image.url }}" width="300px">
                </div>
            {% endfor %}
        </div>

{% endblock %}