{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("textarea").attr("rows",1);
            var search_results = $("#search-results");
            search_results.hide();
            var search_bar = $("#search-bar");
            search_bar.focus(function () {
                search_results.show()
            });
            $('html').click(function () {
                search_results.empty();
                search_results.hide();
            })
        });
        function search_bar(slug) {
            var search_results = $("#search-results");
            if(slug.length>0){
                search_results.empty();
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        var json = JSON.parse(this.responseText);
                        json.forEach(function(item){
                           var temp = $("<tr><td class='pic'><img class='thumbnail' src="+item['display_picture']+"/></td><td><a href='/accounts/users/"+item['id']+"'>"+item['user'].username+"</a></td></tr>");
                           search_results.append(temp);
                        });
                    }
                };
                xhttp.open("GET" ,"/accounts/users/api/"+slug,true);
                xhttp.send();
            }else{
                search_results.empty()
            }
        }
        $(window).scroll(function () {
            var scroll = $(this).scrollTop();
            if( scroll > 250){
                $('#header_text').hide();
                $('#header').animate({padding:'0% 15%'},100);
            }else{
                $('#header_text').show();
                if(scroll < 10) $('#header').animate({padding:'1% 15%'},100);
            }
        });
    </script>
    {% block head %}

    {% endblock %}
</head>
<body class="back">

 <nav  id="header" class="navbar collapsed front">
        <a href="{% url 'posts:news_feed' %}" >
            <div class="navbar-header" >
                <img class="navbar-brand" src="{% static 'Instagram-header-logo.png'%}"/>
                <img id="header_text"class="navbar-brand" src="{% static 'Instagram-logo-png-text.png'%}"/>
            </div>
        </a>
       {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url "accounts:user_list" %}">People</a></li>
                <li><a href="{% url "posts:add_post" %}">Upload</a></li>

            </ul>
           <div style="display: inline-block;" id="search_container">
                <input type="text"  onkeyup="search_bar(this.value)"  id="search-bar" placeholder=" Search..."/>
                <table id="search-results" ></table>
           </div>
        {% endif %}

        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:view_profile' %}">Profile</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login_form' %}">Log In</a></li>
                <li><a href="{% url 'accounts:Signup_form' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container back">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>