{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block head %}

    {% endblock %}
</head>
<body>
    <nav class="navbar-collapse collapsed">
        <strong><a href="{% url 'posts:news_feed' %}" >Instagram</a></strong>
       {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url "accounts:user_list" %}">People</a></li>
                <li><a href="{% url "posts:add_post" %}">Upload</a></li>
                <li><a href=""></a></li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:view_profile' %}">Profile</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login_form' %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>