{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Instagram</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("textarea").attr("rows",1);
        })
    </script>
    {% block head %}

    {% endblock %}
</head>
<body class="back">
 <nav class="navbar collapsed front">
        <div class="navbar-header" >
            <a href="{% url 'posts:news_feed' %}" ><img class="navbar-brand" src="{% static 'Instagram-logo-png-text.png'%}"/></a>
        </div>
       {% if user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{% url "accounts:user_list" %}">People</a></li>
                <li><a href="{% url "posts:add_post" %}">Upload</a></li>
            </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:view_profile' %}">Profile</a></li>
                <li><a href="{% url 'accounts:logout' %}">Log Out</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login_form' %}">Log In</a></li>
                <li><a href="{% url 'accounts:Signup_form' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </nav>
    <div class="container back">
        {% block body %}

        {% endblock %}
    </div>
</body>
</html>